[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = http://zagadka.vm.bytemark.co.uk/git/magit.git
[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = git://github.com/defunkt/gist.el.git
