[submodule "site-lisp/gist"]
	path = site-lisp/gist
	url = git://github.com/defunkt/gist.el.git
[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = git://gitorious.org/magit/mainline.git
[submodule "site-lisp/clojure-mode"]
	path = site-lisp/clojure-mode
	url = git://github.com/jochu/clojure-mode.git
[submodule "site-lisp/swank-clojure"]
	path = site-lisp/swank-clojure
	url = git://github.com/jochu/swank-clojure.git
[submodule "site-lisp/slime"]
	path = site-lisp/slime
	url = git://github.com/nablaone/slime.git
[submodule "site-lisp/rinari"]
	path = site-lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "site-lisp/cucumber-mode"]
	path = site-lisp/cucumber-mode
	url = git://github.com/michaelklishin/cucumber.el.git
[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "site-lisp/remember-mode"]
	path = site-lisp/remember-mode
	url = git://repo.or.cz/remember-el.git
[submodule "site-lisp/sbt"]
	path = site-lisp/sbt
	url = git@github.com:rubbish/sbt.el.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = git://github.com/nonsequitur/smex.git
[submodule "site-lisp/zen-and-art"]
	path = site-lisp/zen-and-art
	url = git://github.com/irfn/zen-and-art.git
