#*#
*~
.DS_Store
TAGS
/auto-save-list
/backups
*.elc
auto-save-list/*
backups/*
semantic.cache
/.org-id-locations
/url/cookies
/saveplace
/tramp
/.emacs.desktop
/.emacs.desktop.lock
/ac-comphist.dat
/session.*
/emacs-desktop
/custom
swank
/eshell/history
/eshell/lastdir
/el-get/
/var/pcache/
/.places
